<meta charset="UTF-8"> <!-- Убедитесь, что указана кодировка UTF-8 -->
<link rel="stylesheet" href="bill-gates.component.css">


<div class="article">
  <h1>Билл Гейтс</h1>
  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Bill_Gates_2018.jpg" alt="Bill Gates" class="portrait">

  <h2>Краткая биография</h2>
  <p>Билл Гейтс — американский бизнесмен, программист, один из основателей компании Microsoft. Он родился 28 октября 1955 года в Сиэтле, штат Вашингтон, США. Гейтс возглавлял список самых богатых людей мира на протяжении многих лет и активно занимается благотворительностью через Фонд Билла и Мелинды Гейтс.</p>

  <h2>Цитаты Билла Гейтса</h2>
  <ul>
    <li>«Patience is a key element of success»</li>
    <li>«If you think your teacher is tough, wait till you get a boss»</li>
    <li>«Life is not fair — get used to it!»</li>
    <li>«Success is a lousy teacher. It seduces smart people into thinking they can’t lose»</li>
    <li>«Be nice to nerds. Chances are you’ll end up working for one»</li>
  </ul>

  <h2>Полезные ссылки</h2>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Bill_Gates" target="_blank">Wikipedia</a></li>
    <li><a href="https://www.gatesfoundation.org/" target="_blank">Bill & Melinda Gates Foundation</a></li>
    <li><a href="https://www.gatesnotes.com/" target="_blank">Gates Notes</a></li>
    <li><a href="https://twitter.com/billgates" target="_blank">Twitter</a></li>
  </ul>
</div>
